<ion-header color="light">

  <ion-navbar color="light">
    <ion-title>View Album</ion-title>
      <ion-buttons end>
        <button *ngIf='!this.isLoggedIn' color="danger" class="style-sign-in-button" ion-button (click)="presentSignInModal()" clear end>Sign In</button>
        <!--<button *ngIf='this.isLoggedIn' color="danger" class="style-sign-in-button" ion-button (click)="signOut()" clear end>Sign Out</button>-->
        <button *ngIf='this.isLoggedIn' color="danger" class="style-sign-in-button" ion-button (click)="signOut()" clear end><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">{{ albumTitle }}</p>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-6>
        <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg" class="style-radio-image">
      </ion-col>
      <ion-col col-6>
        <p>{{ albumYearReleased }}</p>
        <p>{{ albumDuration }}</p>
        <p>{{ albumTotalSongs }}</p>
        <p>{{ albumGenre }}</p>
        <p>{{ albumId }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-8>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let song of songs | async" class="remove-padding style-songs-list style-placeholder" (click)="testClick()">
      <ion-col col-1 class="remove-padding">
        <button ion-button clear small class="remove-padding">
          {{ song.songNumber }}.
        </button>
      </ion-col>
      <ion-col col-10 class="remove-padding">
        <button ion-button clear small class="remove-padding">
          {{ song.songTitle }}
        </button>
      </ion-col>
      <ion-col col-1 class="remove-padding">
        <button ion-button clear small class="remove-padding" color="danger">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
        <p>Copyright &copy; {{albumTitle}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
