<!--
  Generated template for the Radio page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Radio</ion-title>
    <button *ngIf='!is_logged_in' class="style-sign-in-button" ion-button color="danger" (click)="presentSignInModal()" clear start>Sign In</button>
    <button *ngIf='is_logged_in' class="style-sign-in-button" ion-button color="danger" (click)="logout()" clear end>Sign Out</button>
  </ion-navbar>

</ion-header>

<!-- Create Placeholder for Song Image, Band Name and Current Song Playing -->
<ion-content>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">This Day Burns</p>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="pause" class="style-pause-button"></ion-icon>
        <ion-icon name="play" class="style-play-button hide-shit"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg" class="style-radio-image">
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
        <p class="footer-text">Mistakes Don't Lie</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Create Placeholder for Trending Artists Carousel -->
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <p class="header-text">Trending Artists</p>
      </ion-col>
      <ion-col col-2>
        <p class="style-nav-text">See All</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-card *ngFor="let card of albums | async" (click)="goToArtistView(card)">
          <ion-card-content>
            <ion-card-title>
              {{card.albumTitle}}
            </ion-card-title>
            <p>{{card.albumYearReleased}}</p>
            <p>{{card.albumGenre}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Create Placeholder for Trending Videos Carousel -->
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <p class="header-text">Trending Videos</p>
      </ion-col>
      <ion-col col-2 [navPush]="viewAllTrendingVideos">
        <p class="style-nav-text">See All</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-card *ngFor="let card of videos | async" (click)="goToArtistView()">
          <ion-card-content>
            <ion-card-title>
              {{card.videoTitle}}
            </ion-card-title>
            <p>{{card.videoURL}}</p>
            <p>{{card.Id}}</p>
            <p>{{card.userId}}</p>
          </ion-card-content>
        </ion-card>
        <p class="dummy-text">Trending Videos Carousel will go here</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Create Placeholder for Trending Events Carousel -->
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-2>
      </ion-col>
      <ion-col col-8>
        <p class="header-text">Trending Events</p>
      </ion-col>
      <ion-col col-2>
        <p class="style-nav-text" [navPush]="viewAllTrendingEvents">See All</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <p class="dummy-text">Trending Events Carousel will go here</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
