// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Style header text for radio player
.header-text {
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 18px
}

//Style header for Radio Player
.header-style {
  background-color: #AC97F0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

//Style header for Radio Player
.inner-header-style {
  background-color: #AC97F0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0;
}

//Style left and right borders for place holders
.style-placeholder {
  border-left: 1px solid #AC97F0;
  border-right: 1px solid #AC97F0;
}

//Style select placeholder
.style-select-placeholder {
  border-left: 1px solid #AC97F0;
  border-right: 1px solid #AC97F0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

//Style footer for placeholders
.style-footer {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #AC97F0;
  border-right: 1px solid #AC97F0;
  border-bottom: 1px solid #AC97F0;
}

//Style footer text
.footer-text {
  font-size: 14px;
  color: #AC97F0;
  text-align: center;
  margin: 0
}

//Set standard padding for all grids
.standard-grid-padding {
  padding: 10px;
}

//Style pause button
.style-pause-button {
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

//Style play button
.style-play-button {
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

//Style forward nav buttons
.style-forward-nav-button {
  color: #ffffff;
  cursor: pointer;
  float: right;
}

//Style backwardnav buttons
.style-backward-nav-button {
  color: #ffffff;
  cursor: pointer;
  float: left;
}

//Style header icons
.style-header-icons {
  text-align: center;
  padding: 0;
  color: #ffffff;
  cursor: pointer;
}

//Create hide class to hide elements when required
.hide-shit {
  display: none !important;
}

//Style Radio Image
.style-radio-image {
  width: 100%;
  height: 100%;

}

//Style navigation text
.style-nav-text {
  font-size: 8px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #ffffff;
  padding: 5px;
  margin: 0;
  border-radius: 6px;
  cursor: pointer;
}


//Set maximum width of app
.maximum-app-width {
  max-width: 800px;
  margin-right: 0;
  margin-left: 0;
}

//Set maximum width of app
.maximum-grid-width {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

//Set Dummy text
.dummy-text {
  text-align: center;
}

//Set ticket text
.ticket-text {
  font-size: 10px;
  margin: 0;
}

.profile-text {
  font-size: 12px;
  margin: 0;
  color: #000000;
  opacity: 0.5;
}

//Set ellipsis text
.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//Set available text
.available-text {
  font-size: 8px;
  text-align: center;
  padding: 5px;
  background-color: red;
  color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: bold;
  margin: 0;
  margin-top: 25px
}

//Set available text
.available-amount-text {
  font-size: 8px;
  text-align: center;
  color: red;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  margin: 0;
  padding: 5px;
}

//Style account menu text
.account-menu-text {
  margin: 0;
  font-size: 20px;
  padding: 10px;
  opacity: 0.5;
}

//Style account menu icon
.style-account-menu-icon {
  color: red;
  text-align: center;
  font-size: 28px;
  padding: 10px;
}

//Style account menu icon
.style-account-menu-nav-icon {
  color: red;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  float: right;
}

//Style account menu divider
.account-menu-divider {
  border-top: 1px solid #AC97F0;
  cursor: pointer;
}

//Style music navigation
.style-music-nav {
  border: 1px solid red;
  border-radius: 6px;
  padding: 0;
  margin: 0;
}

//Style music nav text
.music-nav-text {
  color: red;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid red;
  cursor: pointer;
}

//Style music nav text
.music-nav-text-active {
  color: #ffffff;
  background-color: red;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid red;
  cursor: pointer;
}

//Style music nav text
.music-nav-text-playlist {
  color: red;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

//Style music active nav text
.music-nav-text-playlist-active {
  color: #ffffff;
  background-color: red;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

//Remove nav padding
.remove-music-nav-padding {
  padding: 0;
}

//Remove nav padding
.remove-margin {
  margin: 0 !important;
}

//Style music text
.music-text {
  color: #000000;
  font-size: 10px !important;
  opacity: 0.5;
}

//Style more button
.style-more-button {
  float: right !important;
  font-size: 10px !important;
}

//Set active status for music nav bar
.music-nav-active {
    background-color: #EF473A;
    color: #ffffff;
    cursor: pointer;
}

//Style Service Header text
.service-header-text {
  padding: 5px;
  background-color: #AC97F0;
  color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

//Style Bands Services Icon
.style-service-icon {
  text-align: center;
  color: #AC97F0;
  padding: 10px;
  font-size: 24px;
}

//Style bands services counter
.style-service-counter {
  text-align: center;
  color: #AC97F0;
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
  border-left: 1px solid #AC97F0;
  border-right: 1px solid #AC97F0;
  border-bottom: 1px solid #AC97F0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

//Style Bands By Fans text
.bands-by-fans-text {
  font-size: 14px;
  color: #000000;
  opacity: 0.5;
  text-align: justify;
  margin: 0;
  padding: 2px;
}

//Center text
.center-text {
  text-align: center;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
  text-align: center;
  margin: 0;
  padding: 2px;
}

//Set select text
.select-text {
  text-align: center;
  font-size: 10px;
  color: #000000;
  opacity: 0.5;
  text-align: center;
  margin: 0;
  padding: 2px;
}

//Style ticket price
.style-ticket-price {
  font-size: 30px;
  color: #AC97F0;
  text-align: center;
  margin: 0;
}

//Style ticket required
.style-ticket-required {
  font-size: 30px;
  color: #AC97F0;
  text-align: center;
  margin: 0;
}

//Style select tickets button
.style-select-tickets-button {
  text-align: center;

}

//Style input field
.style-input {
  max-width: 30px;
}
