<!--
  Generated template for the BandsViewBandsProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bands Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Bands Portfolio</p>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="md-create" class="style-header-icons"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-6>
        <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg" class="style-radio-image">
      </ion-col>
      <ion-col col-6>
        <p class="profile-text">This Day Burns</p>
        <p class="profile-text">Punk Rock</p>
        <p class="profile-text">1999</p>
        <p class="profile-text">Victoria</p>
        <p class="profile-text">Canada</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-6 [navPush]="fansViewBandsByFans">
        <p class="service-header-text">Bands By Fans</p>
        <div class="style-placeholder style-service-icon">
          <button ion-button icon-only clear large color="placid" [navPush]="bandsViewBandsByFans">
            <ion-icon name="people"></ion-icon>
          </button>
        </div>
        <p class="style-service-counter">0</p>
      </ion-col>
      <ion-col col-6 [navPush]="fansViewBandsPrivateParty">
        <p class="service-header-text">Private Party</p>
        <div class="style-placeholder style-service-icon">
          <button ion-button icon-only clear large color="placid" [navPush]="bandsViewBandsPrivateParty">
            <ion-icon name="home"></ion-icon>
          </button>
        </div>
        <p class="style-service-counter">0</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-6 [navPush]="fansViewBandsCDFunds">
        <p class="service-header-text">CD Funds</p>
        <div class="style-placeholder style-service-icon">
          <button ion-button icon-only clear large color="placid" [navPush]="bandsViewBandsCDFunds">
            <ion-icon name="disc"></ion-icon>
          </button>
        </div>
        <p class="style-service-counter">0</p>
      </ion-col>
      <ion-col col-6 [navPush]="fansViewBandsEvents">
        <p class="service-header-text">Events</p>
        <div class="style-placeholder style-service-icon">
          <button ion-button icon-only clear large color="placid" [navPush]="bandsViewBandsEvents">
            <ion-icon name="calendar"></ion-icon>
          </button>
        </div>
        <p class="style-service-counter">0</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-6>
        <p class="service-header-text">Likes</p>
        <div class="style-placeholder style-service-icon">
          <button ion-button icon-only clear large color="placid">
            <ion-icon name="thumbs-up"></ion-icon>
          </button>
        </div>
        <p class="style-service-counter">0</p>
      </ion-col>
      <ion-col col-6>
        <p class="service-header-text">Comments</p>
        <div class="style-placeholder style-service-icon">
          <button ion-button icon-only clear large color="placid">
            <ion-icon name="text"></ion-icon>
          </button>
        </div>
        <p class="style-service-counter">0</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="musical-notes"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Music</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsAlbumDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder" [navPush]="">
      <ion-col col-12>
        <ion-slides #bandMusicSlider (ionSlideDideChange)="onSlideMoved()">
          <ion-slide *ngFor="let music of albums | async" (click)="goToBandsAlbumView(music)" class="carousel-individual-slide">
            <ion-item no-lines>
              <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg">
              <p class="music-carousel-text">{{ music.albumTitle }}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="person"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Band Members</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsMembersDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder" [navPush]="fansViewBandsMember">
      <ion-col col-12>
        <ion-slides #bandMemberSlider (ionSlideDideChange)="onSlideMoved()">
          <ion-slide *ngFor="let member of members | async" (click)="goToBandsMemberView(member)" class="carousel-individual-slide">
            <ion-item no-lines>
              <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg">
              <p class="member-carousel-text">{{ member.memberName }}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="ios-videocam"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Videos</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsVideosDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-slides #bandVideoSlider (ionSlideDidChange)="onSlideMoved()">
          <ion-slide *ngFor="let video of videos | async" class="carousel-individual-slide">
            <ion-item no-lines>
              <iframe width="100%" height="200"
                src="https://www.youtube.com/embed/xGE8IVsyVXc">
              </iframe>
              <p class="video-carousel-text">{{ video.videoTitle}}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Bands By Fans</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsByFansDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-slides #bandsByFansSlider (ionSlideDidChange)="onSlideMoved()">
          <ion-slide *ngFor="let bbf of bandsbyfans | async" (click)="goToEventView(bbf)" class="carousel-individual-slide">
            <ion-item no-lines>
              <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg">
              <p class="carousel-header-text elipsis">{{ bbf.chosenCountry }}</p>
              <p class="carousel-text elipsis">{{ bbf.ticketPrice }}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="disc"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">CD Funds</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsCDFundsDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-slides #cdFundsSlider (ionSlideDidChange)="onSlideMoved()">
          <ion-slide *ngFor="let funds of cdfunds | async" (click)="goToEventView(funds)" class="carousel-individual-slide">
            <ion-item no-lines>
              <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg">
              <p class="carousel-header-text elipsis">{{ funds.targetDate }}</p>
              <p class="carousel-text elipsis">{{ funds.targetAmount }}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="home"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Private Party</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsPrivatePartyDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-slides #privatePartySlider (ionSlideDidChange)="onSlideMoved()">
          <ion-slide *ngFor="let fees of privateparty | async" (click)="goToEventView(fees)" class="carousel-individual-slide">
            <ion-item no-lines>
              <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg">
              <p class="carousel-header-text elipsis">{{ fees.location }}</p>
              <p class="carousel-text elipsis">{{ fees.fee }}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
        <p class="dummy-text">Private Parties will go here</p>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="ios-calendar"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Events</p>
      </ion-col>
      <ion-col col-1>
        <button class="position-add-button" ion-button icon-only color="light" clear small [navPush]="registerBandsEventsDetails">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <ion-slides #bandEventSlider (ionSlideDidChange)="onSlideMoved()">
          <ion-slide *ngFor="let event of events | async" (click)="goToBandsEventsView(event)" class="carousel-individual-slide">
            <ion-item no-lines>
              <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg">
              <p class="carousel-header-text elipsis">{{ event.eventVenue }}</p>
              <p class="carousel-text elipsis">{{ event.eventTown }}</p>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
