<ion-header color="light">

  <ion-navbar color="light">
    <ion-title>CD Funds</ion-title>
    <ion-buttons end>
      <button *ngIf='!this.isLoggedIn' color="danger" class="style-sign-in-button" ion-button (click)="presentSignInModal()" clear end>Sign In</button>
      <!--<button *ngIf='this.isLoggedIn' color="danger" class="style-sign-in-button" ion-button (click)="signOut()" clear end>Sign Out</button>-->
      <button *ngIf='this.isLoggedIn' color="danger" class="style-sign-in-button" ion-button (click)="signOut()" clear end><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="disc"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">CD Funds</p>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <p class="pledge-details-text">undefined wants to cut their new album, but they need your help. Purchase an
        option below and each amount comes with a different package. The quicker they reach
        their target, the sooner you'll have their CD in your hands!<p>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-6>
        <p class="service-header-text">Target</p>
        <div class="style-placeholder style-pledge">
          <p class="pledge-text">$8000</p>
        </div>
      </ion-col>
      <ion-col col-6>
        <p class="service-header-text">% Achieved</p>
        <div class="style-placeholder style-pledge">
          <p class="pledge-text">33</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="cube"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Available Packages</p>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let package of cdfundspackage | async" class="style-placeholder" (click)="choosePackage()">
      <ion-col col-12>
        <div class="style-package-options">
          <p id="selectedPackageAmount" class="package-options-header">{{package.selectedPackage}}</p>
          <p id="selectedPackageText" class="package-options-text">{{package.selectedPackageDescription}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-input [(ngModel)]="purchasedcdfunds.selectedPackage"></ion-input>
    <ion-input [(ngModel)]="purchasedcdfunds.selectedPackageMessage"></ion-input>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="send"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">Shipping Details</p>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <p class="shipping-text">Please provide shipping details below</p>
        <ion-list>
          <ion-item>
            <ion-label stacked color="primary">Street Address</ion-label>
            <ion-input type="text" [(ngModel)]="purchasedcdfunds.streetAddress" placeholder="Example: 10 Downing Street" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked color="primary">City</ion-label>
            <ion-input type="text" [(ngModel)]="purchasedcdfunds.cdFundsCity" placeholder="Example: London" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked color="primary">Country</ion-label>
            <ion-input type="text" [(ngModel)]="purchasedcdfunds.cdFundsCountry" placeholder="Example: England" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked color="primary">Zip/Postal Code</ion-label>
            <ion-input type="text" [(ngModel)]="purchasedcdfunds.cdFundsZip" placeholder="Example: SW1 2AA" clearInput></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <button ion-button outline block color="danger" (click)="submit()">Confirm Funding</button>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
