<ion-header color="light">

  <ion-navbar color="light">
    <ion-title>My CD Funds</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="standard-grid-padding maximum-grid-width">
    <ion-row class="header-style">
      <ion-col col-1 class="style-header-icons">
        <ion-icon name="disc"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="header-text">My CD Funds</p>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row class="style-placeholder">
      <ion-col col-12>
        <div>
          <ion-segment color="danger" [(ngModel)]="cdFunds">
            <ion-segment-button value="present">
              Present
            </ion-segment-button>
            <ion-segment-button value="past">
              Past
            </ion-segment-button>
          </ion-segment>
        </div>
        <br>
        <div [ngSwitch]="cdFunds">
          <ion-list *ngSwitchCase="'present'">
            <!--<ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <p>Hello</p>
            </ion-item>-->
            <ion-row *ngFor="let funds of cdfunds | async" (click)="goToViewPresentCDFunds(funds)">
              <ion-col col-12>
                <ion-row class="inner-header-style remove-padding">
                  <ion-col col-1 class="style-header-icons">
                    <ion-icon name="disc"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    <p class="header-text">CD Fund</p>
                  </ion-col>
                  <ion-col col-1>
                  </ion-col>
                </ion-row>
                <ion-row class="style-placeholder">
                  <ion-col col-3>
                    <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg" class="style-radio-image">
                  </ion-col>
                  <ion-col col-6>
                    <p class="ticket-text ellipsis-text">Present CD Fund</p>
                    <p class="ticket-text ellipsis-text">{{funds.targetAmount}}</p>
                    <p class="ticket-text ellipsis-text">{{funds.targetDate}}</p>
                  </ion-col>
                  <ion-col col-3>
                    <ion-icon name="arrow-forward" class="style-account-menu-nav-icon"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row class="style-footer">
                  <ion-col col-12>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-list>

          <ion-list *ngSwitchCase="'past'">
            <!--<ion-item>
              <ion-thumbnail item-left>
                <img src="img/thumbnail-kitten-1.jpg">
              </ion-thumbnail>
              <p>Help</p>
            </ion-item>-->
            <ion-row *ngFor="let funds of cdfunds | async" (click)="goToViewPastCDFunds(funds)">
              <ion-col col-12>
              <ion-row class="inner-header-style remove-padding">
                <ion-col col-1 class="style-header-icons">
                  <ion-icon name="disc"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  <p class="header-text">CD Fund</p>
                </ion-col>
                <ion-col col-1>
                </ion-col>
              </ion-row>
              <ion-row class="style-placeholder">
                <ion-col col-3>
                  <img src="https://api.appery.io/rest/1/db/files/5518394be4b085114003daf6/7f241c97-d10f-4350-9e74-b5eb5e3709cb.thisdayburns.jpg" class="style-radio-image">
                </ion-col>
                <ion-col col-6>
                  <p class="ticket-text ellipsis-text">Past CD Fund</p>
                  <p class="ticket-text ellipsis-text">{{funds.targetAmount}}</p>
                  <p class="ticket-text ellipsis-text">{{funds.targetDate}}</p>
                </ion-col>
                <ion-col col-3>
                  <ion-icon name="arrow-forward" class="style-account-menu-nav-icon"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="style-footer">
                <ion-col col-12>
                </ion-col>
              </ion-row>
            </ion-col>
            </ion-row>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="style-footer">
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
